    Header {
        dock: top;
        text-style: bold;
        color: yellow;
    }

    /* Footer is docked to the bottom */
    Footer {
        dock: bottom;
    }

    /* Main screen of dashboard has a vertical layout */
    Screen {
        layout: vertical;
        overflow: hidden;
    }
/*
    #body {
        height: 1fr;
        overflow: hidden;
    }
*/


/*    Grid#panels { */
    Vertical#body {
        width: 100%;
        padding: 1 2;
        grid-gutter: 1 2;
        overflow: hidden;
        height: 1fr;
        grid-size: 1; /* number of columns (adjust as desired) */
        /*grid-rows: auto; */
        /* When terminal is narrow, Textual will wrap; you can also tweak via responsive rules */
    }

    /* ZPoolPanel widgets sets it class as "panel" matching this block */
    .panel {
/*        border: round ansi_bright_cyan; /* Colour of border around panel */
        border: round ansi_bright_cyan; /* Colour of border around panel */
        height: auto;                   /* Should allow panel to grow as tall as is required */
        max-height: 20;
        border-title-color: $text;      /* Default text colour for panel title */
        padding: 0 1 0 1;               /* Set 1 character padding at left and right of panel, none at top and bottom */
    }

    /* Tables within ZPoolPanel
       status_table - auto height, no padding around table
       vdevs_table  - auto height, add one row spacing after table
       scan_table   - auto height, no padding around table
    */
    #status_table, #scan_table {
        height: auto;
        margin-bottom: 0;
    }

    #vdevs_table {
        height: auto;
        margin-bottom: 1;
    }

    .panel:focus {
        border: round $accent;
    }
